.App {
  background-color: aqua;
}
.footer {
  margin-top: 1rem;
  padding: 1rem;
  background-color: rgb(117, 62, 11);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: aliceblue;
}
.redes {
  color: aliceblue;
  text-decoration: none;
}
